
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API LIST</title>
</head>
<body>
	<h1>All API List</h1>
	<ul>
		<p>Auth</p>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/admin">Admin Login</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/auth/login/">Login</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/auth/seller_register/">Seller Registration</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/auth/users/<int:user_id>/update_role/">update role</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/auth/seller_profile/">Seller Profile</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/auth/buyer_register/">Buyer Registration</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/auth/buyer_profile/">Buyer Profile</a>
		</li>
		<p>Service</p>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/services/list/">service List</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/services/list/category/plumber/">Service Slug List</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/orders/cart/">Add Cart</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/orders/order/">Order</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/services/review/">Add Review</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/services/review/?service=2">Filter Review By Service Id</a>
		</li>
		<li>
			<a href="https://household-backend-a4k7.onrender.com/services/review/?rating=5">Filter Review By Rating</a>
		</li>
	</ul>
</body>
</html>