{% extends "base.html" %}
{% block content %}

<div class="d-flex ">
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        {% for catgory in categories  %}
          <a href="{% url 'catgory_wise_book' catgory.slug %}" class="list-group-item d-flex justify-content-between align-items-center">
            {{catgory}}
            <span class="badge bg-primary rounded-pill">{{catgory.book_post_count}}</span>
          </a>
        {% endfor %}
      </ul>
    </div>
    <div class="col-10">
      <div class='d-flex'>
        {% for book in books  %}
        <div class="card mb-3" style="max-width: 530px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src={{book.image.url}} class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">{{book.description | truncatewords:26}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>


{% endblock content %}