
{% extends "base.html" %} 

{% block content %}

<div class='content container'>
    <h1 class='text-center pt-5 text-uppercase fw-bold'>Most popular meals list</h1>
    <div class='row justify-content-center  p-5' style="gap:20px">
        {% for meal in meals  %}

        <div class="card " style="width: 18rem;">
            <img src="{{ meal.strMealThumb}}" class="card-img-top" alt="...">
            <div class="card-body ">
                <h5 class="card-title">{{meal.strMeal}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 

