
{% extends "base.html" %} 

{% block content %}
<div class="main_content">
    <h1 class="text-center pt-3">App Page</h1>
    <div class=" d-flex flex-row m-5">
        {% for meal in meals %}
        <div class="card meal  d-flex flex-col m-2 p-2" style="width: 10rem">
            <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}">
            <div class="card-body">
                <p class="card-text">{{ meal.strMeal }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 

