{% extends "base.html" %}
{% block content %}



{% comment %} <div class="d-flex flex-wrap justify-content-center px-5 pt-5">
{% for data in tasks %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{data.taskTitle}}</h5>
      <p class="card-text">{{data.taskDescription}}</p>
      <p class="card-text">{{data.assign_date}}</p>
      {% if data.is_completed == True %}
        <button class='btn btn-success'>Completed</button>
        {% else %}
        <button class='btn btn-warning'>Edit</button>
        <button class='btn btn-danger'>Delete</button>
      {% endif %}
    </div>
</div>
{% endfor %}
</div> {% endcomment %}


<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
    {% for data in tasks %}
    <div class="col-sm-3">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">{{data.taskTitle}}</h5>
          <p class="card-text">{{data.taskDescription}}</p>
          <p>{{data.assign_date}}</p>
          {% comment %} <p>
            Category : {% for cat in post.category.all %} 
            <button class="btn btn-primary btn-sm m-2" disabled >{{cat.name}} </button>
            {% endfor %}
          </p> {% endcomment %}
          {% if data.is_completed == True %}
            <button class='btn btn-success'>Completed</button>
          {% else %}
            <button class='btn btn-warning'>Edit</button>
            <button class='btn btn-danger'>Delete</button>
            {% comment %} <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a> {% endcomment %}
            {% comment %} <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
        {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}