
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '../static/css/style.css' %}">

<div class='content'>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active " style="height: 90vh" >
            <img class="d-inline-block w-100" src="{% static "../static/image/lunch.png" %}" alt="lunch slide">
            </div>
            <div class="carousel-item" style="height: 90vh">
            <img class="d-inline-block w-100"  src="{% static "../static/image/icecream.png" %}" alt="icecream slide">
            </div>
        </div>
    </div>

    <div class='pt-5'>
        <h1 class='page_title'> why you choose us </h1>
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Hours/Day Base Booking</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Book Your Table</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Online Order/Home Delivery Services</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Check Foods</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class='pt-5'>
      <h1 class='page_title'> Customer Feedback </h1>
      <div class="container py-5">
          <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{email}}</p>
                    <a href="#" class="btn btn-primary">Book Your Table</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Online Order/Home Delivery Services</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Check Foods</a>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>

</div>
{% endblock %} 
