
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API LIST</title>
</head>
<body>
	<h1>All API List</h1>
	<ul>
		<p>Auth</p>
		<li>
			<a href="http://127.0.0.1:8000/auth/seller_register/">Seller Registration</a>
		</li>
		<li>
			<a href="http://127.0.0.1:8000/auth/seller_profile/">Seller Profile</a>
		</li>
		<li>
			<a href="http://127.0.0.1:8000/auth/buyer_register/">Buyer Registration</a>
		</li>
		<li>
			<a href="http://127.0.0.1:8000/auth/buyer_profile/">Buyer Profile</a>
		</li>
		<p>Service</p>
		<li>
			<a href="http://127.0.0.1:8000/service/list/">service List</a>
		</li>
		<li>
			<a href="http://127.0.0.1:8000/orders/cart/">Add Cart</a>
		</li>
		<li>
			<a href="http://127.0.0.1:8000/orders/order/">Order</a>
		</li>
		<li>
			<a href="http://127.0.0.1:8000/service/review/">Add Review</a>
		</li>
	</ul>
</body>
</html>